@page "/fetchdepartmentdetails"
@using BlazorApp.Shared.Models
@inject HttpClient Http

<h3>Department Details</h3>

<div class="row">
    <div class="col-md-6">
        <a href='/department/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Department
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search department by name"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUser" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />

@if (departmentList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Department</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in departmentList)
            {
                <tr>
                    <td>@department.DepartmentId</td>
                    <td>@department.DepartmentName</td>
                    <td>@department.Description</td>
                    <td>
                        <a href='/department/edit/@department.DepartmentId' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/department/delete/@department.DepartmentId' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected List<Department> departmentList = new();
    protected List<Department> searchUserData = new();
    protected Department department = new();
    protected string SearchString { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetDepartment();
    }

    protected async Task GetDepartment()
    {
        departmentList = await Http.GetFromJsonAsync<List<Department>>("api/Department");
        searchUserData = departmentList;
    }

    protected void FilterUser()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            departmentList = searchUserData
                .Where(x => x.DepartmentName.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            departmentList = searchUserData;
        }
    }

    protected void DeleteConfirm(int departmentID)
    {
        department = departmentList.FirstOrDefault(x => x.DepartmentId == departmentID);
    }

    public void ResetSearch()
    {
        SearchString = string.Empty;
        departmentList = searchUserData;
    }
}
